<!-- Why choose us Section -->

<div class="container text-center">
    <h1>Why choose us</h1>
    <p>We are popular with our many years of tradition and the ambient atmosphere.</p>

</div>
<div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <small class="text-muted">01</small>
                    <h5 class="card-title">Right in the center</h5>
                    <p class="card-text">We are right in the center of padua, surrounded by places of interest</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <small class="text-muted">02</small>
                    <h5 class="card-title">Many alternatives</h5>
                    <p class="card-text">Regardless of whether you eat vegan or vegetarian, we have the right thing for you</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <small class="text-muted">03</small>
                    <h5 class="card-title">Lots of space for groups</h5>
                    <p class="card-text">Whether you are a family or a large group, we have enough space for you</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Check our specials -->

<div class="container mb-5 about-us-bottom">
    <h1 class="text-center">Check our specials</h1>
    <p class="text-center">Not only our tradition but also our popular dishes and delicacies are available.</p>
</div>
<!-- pill section -->
<div class="container about-us-bottom">
    
    <div class="d-flex align-items-start mb-5 mt-5">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Pizza Arancione</button>
    
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Penne al Gorgonzola</button>
    
            <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">Pizza Verde</button>
    
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pizza Viola</button>
    
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tiramisu</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                <div class="card mb-3" style="max-width: 60vw;">
                    <div class="row g-0">
    
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Pizza Arancione</h5>
                                <p class="card-text">The best of the best, baked in the ancient stone oven with natural ingredients. with everything the delicacy desires.</p>
                                <p><strong>Ingredients:</strong><br> Pumpkin cream, mozzarella, grilled aubergine, grilled zucchini, yellow tomatoes, pistachio crumble, rocket</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/img/pizza_arancione.jpg" class="img-thumbnail rounded " alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                <div class="card mb-3" style="max-width: 60vw;">
                    <div class="row g-0">
    
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Penne al Gorgonzola</h5>
                                <p class="card-text">Gorgonzola is so spicy and aromatic that not much else needs to be done in terms of spices. Refined with a little single cream, salt and pepper.</p>
                                <p><strong>Ingredients:</strong><br> Penne, Gorgonzola cheese, butter, milk, cream, parmesan, salt, pepper</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/img/penne_gorgonzola.jpg" class="img-thumbnail rounded " alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                <div class="card mb-3" style="max-width: 60vw;">
                    <div class="row g-0">
    
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Pizza Verde</h5>
                                <p class="card-text">A vegetarian light vegetable pizza tastes good on every palate. As a main course or an aperitif - this simple recipe always works.</p>
                                <p><strong>Ingredients:</strong><br> Zucchini cream, vegan feta cheese, mozzarella, pine nuts, pomegranate, basil pesto, oregano</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/img/pizza_verde.jpg" class="img-thumbnail rounded " alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                <div class="card mb-3" style="max-width: 60vw;">
                    <div class="row g-0">
    
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Pizza Viola</h5>
                                <p class="card-text">Garnished with sundried tomatoes and fresh sweet potatoes and basil pesto.</p>
                                <p><strong>Ingredients:</strong><br> Purple Sweet Potato Cream, Burrata, Sun-Dried Red & Yellow Tomatoes, Basil, Sweet Potatoes, Basil Pesto</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/img/pizza_viola.jpg" class="img-thumbnail rounded " alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                <div class="card mb-3" style="max-width: 60vw;">
                    <div class="row g-0">
    
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Tiramisu</h5>
                                <p class="card-text">The Italian dessert tiramisu enjoys great popularity everywhere. So also with us. That is why we have developed this absolutely fail-safe original recipe for you.</p>
                                <p><strong>Ingredients:</strong><br> marcarpone, milk, sugger, amaretto, almond liqueur, biskuits, cold espresso</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/img/tiramisu.jpg" class="img-thumbnail rounded " alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!-- i will insert it to pills first create here then comment -->

<!-- Pizza Arancione -->

<!-- <div class="card mb-3" style="max-width: 60vw;">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Pizza Arancione</h5>
                <p class="card-text">The best of the best, baked in the ancient stone oven with natural ingredients. with everything the delicacy desires.</p>
                <p><strong>Ingredients:</strong><br> Pumpkin cream, mozzarella, grilled aubergine, grilled zucchini, yellow tomatoes, pistachio crumble, rocket</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/pizza_arancione.jpg" class="img-thumbnail rounded " alt="...">
        </div>
    </div>
</div> -->

<!-- Penne al Gorgonzola -->

<!-- <div class="card mb-3" style="max-width: 60vw;">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Penne al Gorgonzola</h5>
                <p class="card-text">Gorgonzola is so spicy and aromatic that not much else needs to be done in terms of spices. Refined with a little single cream and salt and pepper and definitely some lemon juice to add some acidity. And that's it.</p>
                <p><strong>Ingredients:</strong><br> Penne, Gorgonzola cheese, butter, milk, cream, parmesan, salt, pepper</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/penne_gorgonzola.jpg" class="img-thumbnail rounded " alt="...">
        </div>
    </div>
</div> -->

<!-- Pizza Verde -->

<!-- <div class="card mb-3" style="max-width: 60vw;">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Pizza Verde</h5>
                <p class="card-text">A vegetarian light vegetable pizza tastes good on every palate. As a main course or an aperitif - this simple recipe always works.</p>
                <p><strong>Ingredients:</strong><br> Zucchini cream, vegan feta cheese, mozzarella, pine nuts, pomegranate, basil pesto, oregano</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/pizza_verde.jpg" class="img-thumbnail rounded " alt="...">
        </div>
    </div>
</div> -->

<!-- Pizza Viola -->

<!-- <div class="card mb-3" style="max-width: 60vw;">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Pizza Viola</h5>
                <p class="card-text">Garnished with sundried tomatoes and fresh sweet potatoes and basil pesto.</p>
                <p><strong>Ingredients:</strong><br> Purple Sweet Potato Cream, Burrata, Sun-Dried Red & Yellow Tomatoes, Basil, Sweet Potatoes, Basil Pesto</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/pizza_viola.jpg" class="img-thumbnail rounded " alt="...">
        </div>
    </div>
</div> -->

<!-- Tiramisu -->

<!-- <div class="card mb-3" style="max-width: 60vw;">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Tiramisu</h5>
                <p class="card-text">The Italian dessert tiramisu enjoys great popularity everywhere. So also with us. That is why we have developed this absolutely fail-safe original recipe for you.</p>
                <p><strong>Ingredients:</strong><br> marcarpone, milk, sugger, amaretto, almond liqueur, biskuits, cold espresso</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/tiramisu.jpg" class="img-thumbnail rounded " alt="...">
        </div>
    </div>
</div> -->