<div class="bg-image back-pic mt-3">
    <img src="/assets/img/hero_background.jpg" 
    class="back-pic w-100" 
    alt="Sample" />
    <div class="mask mask-custom">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="text-center text-white mb-0 m-3">Ristorante Osteria al Peronio</h1>
            <p class="text-white mb-0 m-3">Delivering great food for more than 14 years!</p>
            <button class="btn btn-success mb-0 m-4" routerLink="/menu">Our Menu</button>
        </div>
    </div>
</div>