<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top align-items-center colorturkislight">

    <a href="#" class="navbar-brand navbar-dark colorturkislight ms-3"><img src="../assets/img/logo.svg" alt="" height="50vh"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between align-items-center" id="navmenu">
        <ul class="navbar-nav navbar-dark mr-auto d-lg-flex justify-content-around align-items-center">
            <li class="nav-item active"><a routerLink="/" class="nav-link colorturkislight">Home</a></li>
            <li class="nav-item"><a routerLink="/about-us" class="nav-link colorturkislight">About Us</a></li>
            <li class="nav-item"><a routerLink="/menu" class="nav-link colorturkislight">Menu</a></li>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/cart">Cart {{count}}</button>
        </ul>
        
        
    </div>

</nav>