<h2 class="text-center">Product Details</h2>

<div class="d-flex justify-content-center m-5" *ngIf="product">
  <div class="card col-lg-4 p-2 shadow-lg">
    <img class="img-thumbnail mb-3" src="{{ product.image}}" alt="" srcset="">
    <h3 class="fw-bold">{{ product.name }}</h3>
    <hr>
    <h4>{{ product.price | currency:'EUR' }}</h4>
    <hr>
    <p><strong>Ingredients:</strong><br>{{ product.description }}</p>

    <button type="button" class="btn btn-success rounded" (click)="addToCart()">Order</button>
  </div>

</div>
<div class="d-flex justify-content-center m-5">
  <button type="button" class="btn btn-outline-secondary rounded" routerLink="/menu"><i class="fa-solid fa-backward"></i>&nbsp; Go back to MENU</button>&nbsp;
  <button type="button" class="btn btn-outline-secondary rounded" routerLink="/cart">&nbsp; Go to CART &nbsp;<i class="fa-solid fa-forward"></i></button>
</div>