<!-- Section Cart -->

<div class="container">

    <!-- Section Cart Items -->

    <div class="row">
        <div class="col-8">
            <div class="card-product">
                <table class="table table-responsive bg-light">
                    <thead>
                        <tr>
                            <th class="text-primary" style="font-size: 1.5rem;">Cart - {{count}} items(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" *ngFor="let item of items">
                            <td><img style="width: 15rem;" src="{{item.image}}" alt=""></td>
                            <td style="width: 70%;"><span>{{ item.name }} <br> {{item.description}} </span></td>
                            <td style="width: 12%;"><span>Price: {{ item.price | currency:'EUR' }}</span></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <!-- Section Summary -->

        <div class="col-4 mt-2">

            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between bg-secondary">
                    <div>
                        <h4 class="my-0 text-white">Summary</h4>
                    </div>
                    <h6 class="my-0 text-white"> &nbsp; <span class="badge bg-primary rounded-pill">{{count}}</span></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">Products</h6>
                    </div>
                    <span class="text-muted">{{total | currency:'EUR'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">Service</h6>

                    </div>
                    <span class="text-muted">{{ total * 0.1 | currency: 'EUR' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0 text-success">Discount</h6>

                    </div>
                    <span class="text-success">{{discount | currency:'EUR'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <h5><strong>Total amount <br>(including VAT)</strong></h5>
                    <strong>{{totalamount | currency:'EUR'}}</strong>
                </li>
            </ul>

        </div>
    </div>



</div>

<!-- Section Order Form -->

<div class="container mt-5 mb-5 form-bottom">
    <h1 class="mt-5 mb-3">Order Form</h1>
    <p>please fill up the info for the delivery</p>
    <hr>
    <form>
        <div class="mb-3">
            <label for="exampleInputNamel1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputNamel1" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputAdress1" class="form-label">Adress</label>
            <input type="text" class="form-control" id="exampleInputAdress1">
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Purchase
        </button>

    </form>


    <!-- Modal for submit -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">We will deliver as soon as possible</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="img-thumbnail" src="/assets/img/ontheway.png" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>