<app-hero></app-hero>

<!-- Section Ristorante Osteria al Peronio -->

<h1 class="text-center mt-5">Ristorante Osteria al Peronio</h1>
<div class="d-flex justify-content-center align-items-center mb-5 mt-4">
    <div class="mb-3 " style="max-width: 85vw;">
        <div class="row g-1">
            <div class="col-md-5">
                <img src="/assets/img/home_background.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">A tradition since 2008</h5>
                    <p class="card-text">The Osteria al Peronio has been a family-run establishment since 2008, when Dario and his wife Marina decide to take it over, together with their children.</p>
                    <p class="card-text">After decades of activity in catering in the province, bringing their tradition to the historic center of Padua.</p>
                    <ul class="card-text">
                        <li>Dario's curiosity in researching and enhancing local products</li>
                        <li>Marina's passion that makes customers feel as if they were immersed in the warmth of home</li>
                        <li>makes the atmosphere intimate and welcoming.</li>
                    </ul>
                    <p class="card-text">The particular name of the place has a historical significance: the Peronio is in fact the only remaining column of 10 that are part of a complex that supported the canopy that covered the Peroneum a fructibus, the fruit market, in medieval times.</p>

                </div>
            </div>
        </div>
    </div>
</div>






<app-about-us></app-about-us>